DISCORD_TOKEN=
ROBLOX_UNIVERSE_ID=
ROBLOX_API_KEY=

# Masukkan ID Discord di bawah ini (Pisahkan dengan koma jika lebih dari 1 orang, misal: 12345,67890)
OWNER_IDS=
CEO_IDS=
ADMIN_IDS=
MODERATOR_IDS=

# Pemetaan ID Discord ke ID Roblox
# Format: ID_Discord:ID_Roblox,ID_Discord2:ID_Roblox2
DISCORD_TO_ROBLOX=
